{% block header %}
    <head>
        <title>IrishDash's Storage</title>
    </head>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/irishdashstorage/css/bootstrap.min.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <h2>Irishdash's Storage</h2>
{% endblock %}